<!-- Location Section -->
<section id="location-section" class="location-section space-100-top space-150-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 text-center">
				<div class="h5 strong text-uppercase space-100-bottom">Boutique Locations</div>
			</div>
		</div>
		<div class="locations">
			<div class="location radius-25 box-shadow-red no-overflow no-whitespace">
				<div class="bg-video-embed">
					<iframe class="" src="https://www.youtube-nocookie.com/embed/dDlTUTgOYOw?playlist=dDlTUTgOYOw&html5=1&color=white&disablekb=0&fs=0&autoplay=1&loop=1&modestbranding=1&playsinline=1&rel=0&showinfo=1&enablejsapi=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="location-actions space-25">
					<div class="title h4 strong line-height-small text-white text-uppercase text-center">Bangalore</div>
					<div class="description small strong text-white text-uppercase text-center ">Karnataka, India</div>
					<div class="row space-25-top">
						<div class="columns small-6 space-25">
							<div class="maps button block text-white box-border-white">Open in Maps</div>
						</div>
						<div class="columns small-6 space-25">							
							<div class="page button block text-white box-border-white">View Details</div>
						</div>
					</div>
				</div>
			</div>
			<div class="location radius-25 box-shadow-red no-overflow no-whitespace">
				<div class="bg-video-embed">
					<iframe class="" src="https://www.youtube-nocookie.com/embed/dDlTUTgOYOw?playlist=dDlTUTgOYOw&html5=1&color=white&disablekb=0&fs=0&autoplay=1&loop=1&modestbranding=1&playsinline=1&rel=0&showinfo=1&enablejsapi=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="location-actions space-25">
					<div class="title h4 strong line-height-small text-white text-uppercase text-center">Kottayam</div>
					<div class="description small strong text-white text-uppercase text-center">Kerala, India</div>
					<div class="row space-25-top">
						<div class="columns small-6 space-25">
							<div class="maps button block text-white box-border-white">Open in Maps</div>
						</div>
						<div class="columns small-6 space-25">							
							<div class="page button block text-white box-border-white">View Details</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Location Section -->
