<!-- Product Grid -->
<div class="row product-grid">
	{% if collection.products.size > 0 %}
		<!-- Card Grid -->
		<div class="card-grid space-200-top-bottom">
		{% for product in collection.products %}
			<div class="card-grid-item">
				{% render 'product-card', product: product %}
			</div>
		{% endfor %}
		</div>
	<!-- END: Card Grid -->
	{% else %}
		<p class="p block text-center text-red space-200-top-bottom">No products found in this collection.</p>
	{% endif %}
</div>
<!-- END: Product Grid -->