
<!-- New Password Section -->
<section id="new-password-section" class="new-password-section space-250-top-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 space-100-bottom">
				<h1 class="title block h3 text-uppercase text-center">Reset Account Password</h1>
				<p class="note block p strong text-center">Enter a new password for {{ email }}</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12 medium-8 medium-offset-2 large-6 large-offset-3">
				{% form 'reset_customer_password' %}
				<div class="form-box row fill-orange box-border-dark space-100 radius-25">

					{% if form.errors %}
						<style type="text/css">
							.errors ul {
								list-style: none;
								margin: 0;
								padding: 0;
							}
							.errors ul li {
								margin-bottom: var(--space-50);
							}
						</style>
						<div class="errors p strong text-red text-center">{{ form.errors | default_errors }}</div>
					{% endif %}

					<div class="columns small-12 space-25">
						<label class="form-field">
							<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">New Password</span>
							<input class="input-field block" type="password" value="" name="customer[password]" id="customer_password" size="30">
						</label>
						<div class="space-50-top"><a class="label strong text-red text-uppercase" href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a></div>
					</div>

					<div class="columns small-12 space-25">
						<label class="form-field">
							<span class="form-label inline small strong text-dark text-uppercase space-min-bottom">Confirm Password</span>
							<input class="input-field block" type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="30">
						</label>
					</div>

					<div class="columns small-12 space-25">
						<label class="form-field">
							<span class="form-label inline small strong text-dark text-uppercase space-min-bottom invisible">Submit</span>
							<button class="button block fill-red box-shadow-white-2">Save Password</button>
						</label>
					</div>

				</div>
				{% endform %}

				<div class="text-center space-100">
					<a href="{{ shop.url }}" class="inline label strong text-uppercase text-red">Return Home</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: New Password Section -->

