<style>

/*
 *	Contact Section 
 */

.contact-section {
	position: relative;
	z-index: 1;
}

.contact-section .title-col {
	position: relative;
	z-index: 5;
}

.contact-section .form-col {
	position: relative;
	z-index: 1;
}

.contact-section .form-col .contact-form {
	position: relative;
	z-index: 5;
}

.contact-section .form-col:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: var(--space-200);
	bottom: var(--space-200);
	box-shadow: 0 0 0 var(--space-min) var(--orange);
	transform: translate(calc(var(--space-75)*-1), calc(var(--space-75)*-1));
	border-radius: var(--space-min);
}

@media( min-width: 640px )  {
	.contact-section .form-col:before {
		transform: translate(calc(var(--space-150)*-1), calc(var(--space-75)*-1));
	}

	.contact-section .form-col:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: calc(var(--space-200)*5);
		right: var(--space-200);
		bottom: 0;
		background-color: rgba(var(---orange), 0.3);
		transform: translate(calc(var(--space-100)*6), calc(var(--space-100)*3));
		border-radius: var(--space-min);
		background-image: url('{{ 'floral-bg-01.png' | asset_url }}'); background-position: bottom center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;
	}
}

@media( min-width: 1040px ) {
	.contact-section .title-col {
		position: absolute;
		width: auto;
		top: calc(var(--space-100)*-0.5);
		left: calc(var(--space-100)*-2.75);
		text-align: right;
		transform: rotate(-90deg) translate(-100%, 0);
		transform-origin: top left;
	}

	.contact-section .title-col .title .h1 {
		font-size: var(--h2);
	}

	.contact-section .title-col .title .label {
		font-size: var(--h6);
	}

	.contact-section .form-col:before {
		transform: translate(calc(var(--space-100)*-3), calc(var(--space-100)*-1.5));
	}

	.contact-section .form-col:after {
		left: 0;
		transform: translate(calc(var(--space-100)*12), calc(var(--space-100)*3));
	}
}

@media( min-width: 1480px ) {
	.contact-section .form-col:before {
		transform: translate(calc(var(--space-100)*-3.5), calc(var(--space-100)*-1.5));
	}

	.contact-section .form-col:after {
		transform: translate(calc(var(--space-100)*14), calc(var(--space-100)*3));
	}
}

</style>


<!-- Contact Section -->
<section id="contact-section" class="contact-section space-250-top-bottom">
	<div class="container">
		<div class="row">
			<div class="title-col columns small-12 medium-10 medium-offset-1">
				<div class="title space-25">
					<div class="h1 text-uppercase line-height-one space-25-left-right space-25-bottom fill-light">Get in Touch</div>
					<div class="label inline strong text-uppercase space-25-left-right space-min-bottom fill-light">Schedule a Consultation or Visit</div>
				</div>
			</div>
			<div class="form-col columns small-12 medium-10 medium-offset-1 large-7 large-offset-2">
				<div class="contact-form row space-75 fill-orange box-border-dark radius-25">
				{% form 'contact' %}
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Full Name</span>
							<input type="text" name="contact[name]" required="required" class="input-field block">
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Email ID</span>
							<input type="email" name="contact[email]" required="required" class="input-field block">
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Phone Number</span>
							<input type="tel" name="contact[phone]" class="input-field block">
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Country</span>
							<input type="text" name="contact[country]" class="input-field block">
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Wedding Date</span>
							<input type="text" name="contact[wedding]" class="input-field block">
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Branch</span>
							<select name="contact[branch]" class="input-field block">
								<option value="bangalore">Bangalore</option>
								<option value="kottayam">Kottayam</option>
							</select>
						</label>
					</div>
					<div class="form-field columns small-12 space-25">
						<label>
							<span class="form-label small strong text-uppercase inline space-min-bottom text-dark">Your Requirement</span>
							<textarea name="contact[body]" id="message" class="input-field block" rows="4"></textarea>
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25">
						<label>
							<span class="form-label invisible small strong text-uppercase inline space-min-bottom text-dark">Submit</span>
							<button type="submit" value="Create" class="button fill-red text-white block text-left" style="padding-left: var(--space-75);">Submit <span class="h5 line-height-one">&rarr;</span></button>
						</label>
					</div>
					<div class="form-field columns small-12 medium-6 space-25 inline-bottom">
						{% if form.errors %}
						<style>
							.form-error * {
								list-style: none;
							}
						</style>
						<div class="form-error fill-yellow text-red p space-25 text-center radius-min">
							{{ form.errors | default_errors }}
						</div>
						{% endif %}
						<div class="fill-yellow text-red label strong space-25 text-center radius-min">
							<li>This is a Test</li>
						</div>
					</div>
				{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Contact Section -->


