<style>

/*
 *	Insta Section
 */

.insta-section {}
.insta-section .handle {
	transform: translateX(calc(var(--space-50)*-1)) scale(1.25);
	transform-origin: bottom left;
	filter: brightness(0.97);
}

@media( min-width: 1040px ) {
	.insta-section .title { font-size: var(--h2); }
	.insta-section .description { font-size: var(--h6); }
	.insta-section .handle {
		font-size: var(--h2);
		transform: translateX(calc(var(--space-100)*-1)) scale(1.75);
	}
}	
</style>

<!-- Insta Section -->
<section id="insta-section" class="insta-section space-100-top-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 medium-10 medium-offset-1 large-6 space-50-bottom">
				<div class="handle inline h1 strong em text-orange space-25-top-bottom line-height-one">@kavani_bridals</div>
				<div class="title h1 text-uppercase line-height-one space-min-bottom">Follow the Gram</div>
				<div class="description p text-uppercase strong">For more wedding vibes, stay in the loop</div>
			</div>
		</div>
	</div>
	<div class="space-100-left-right">
		<div id="insta-feed"></div>
	</div>
</section>
<!-- END: Insta Section -->