

<!-- Blog Section -->
{% if blogs.diaries.articles.size > 0 %}
<section id="blog-section" class="blog-section space-250-top space-150-bottom no-overflow-clip">
	<div class="blog-carousel">
		<div class="row">
			<div class="container">
				<!-- <div class="columns small-12 text-center fade-in-animation slow"> -->
				<div class="columns small-12 text-center">
					<div class="h5 strong text-uppercase text-center space-50-bottom">Related Articles</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div class="carousel fade">
			<div class="carousel-list fill-white box-shadow-red-light">
				{% for related_article in blog.articles limit: 10 %}
					{% unless related_article.id == article.id %}
						<div class="carousel-list-item">
							{% render 'article-card', article: related_article %}
						</div>
					{% endunless %}
				{% endfor %}
			</div>
			<div class="carousel-controls row">
				<div class="container">
					<div class="columns small-12 text-center">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-left-arrow-alt text-red h3' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-right-arrow-alt text-red h3' ></i></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<div class="columns small-12 text-center">
					<a href="{{ blogs.diaries.url }}" class="button fill-dark text-white inline text-left">Explore All Stories</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- END: Blog Section -->


