

<!-- Sample Section -->
<section id="sample-section" class="sample-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				WhatsApp
			</div>
		</div>
	</div>
</section>
<!-- END: Sample Section -->



{% schema %}
{
	"name": "WhatsApp Badge",
	"settings": [
		{
			"type": "text",
			"id": "number",
			"label": "WhatsApp Number",
			"default": "9606035963"
		}
	],
	"presets": [
		{
			"name": "WhatsApp Badge"
		}
	]
}
{% endschema %}


