<style>
.whatsapp-badge-section {
	position: fixed;
	bottom: var(--space-100);
	right: var(--space-100);
	z-index: 95;
	transform: scale(1.25);
}
.whatsapp-badge {
	position: relative;
	cursor: pointer;
	background-color: var(--white);
	border-radius: 100%;
}
.whatsapp-badge * {
	pointer-events: none;
}

@media( max-width: 1039px )  {
	.whatsapp-badge {
		transform: scale(1.75);
		transform-origin: bottom right;
	}
}
</style>

<!-- Sample Section -->
<div id="whatsapp-badge-section row" class="whatsapp-badge-section">
	<a class="whatsapp-badge space-25 box-shadow-red-light" tabindex="1" href="https://wa.me/91{{ settings.whatsapp }}" target="_blank" style="background-color: #25D366;"><span class="visuallyhidden">WhatsApp</span><i class='bx bxl-whatsapp h3 text-white inline-middle'></i></a>
</div>
<!-- END: Sample Section -->