/*
 * Product Page
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

.product-fold {
	position: relative;
}
.product-gallery {
	position: relative;
	z-index: 1;
	white-space: nowrap;
	overflow-y: scroll;
	font-size: 0;
}

.product-info {
	position: relative;
	z-index: 2;
	padding: 0 var(--container-margin);
	padding-top: var(--space-100);
}


.product-quantity label {
	position: relative;
}
.product-quantity label .quantity-toggle {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product-quantity label .quantity-toggle .icon-button {
	position: relative;
	display: inline-block;
	background-color: transparent;
	box-shadow: none;
	outline: 0;
	border: 0;
	width: var(--space-200);
	height: var(--space-200);
	line-height: var(--space-200);
	padding: none;
}
.product-quantity label .quantity-toggle .icon-button * {
	pointer-events: none;
}
.product-quantity label .quantity-toggle .icon-button i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media( min-width: 640px )  {
	.product-gallery {
		white-space: normal;
		overflow-y: initial;
	}

	.product-info {
		padding: 0;
		padding-top: var(--space-100);
		padding-bottom: var(--space-50);
		padding-left: var(--space-50);
		padding-right: var(--container-margin);
		position: sticky;
		top: calc(var(--space-100) * 3);
		left: 0;
	}

}
@media( min-width: 1040px ) {
	.product-info {
		top: calc(var(--space-100) * 2.666);
	}
	.product-quantity label .quantity-toggle .icon-button {
		width: var(--space-125);
		height: var(--space-150);
		line-height: var(--space-150);
	}

}
@media( min-width: 1480px ) {
	.product-info {
		top: calc(var(--space-100) * 2.25);
		padding-left: var(--space-75);
	}

	.product-quantity label .quantity-toggle .icon-button {
			width: var(--space-150);
	}
}




.product-gallery .product-image {
	width: 80%;
}
.product-gallery div .product-image:only-child {
	width: 100%;
	padding-right: 0;
}
.product-gallery .product-image {
	display: inline-block;
}

@media( min-width: 640px )  {
	.product-gallery .product-image {
		display: block;
		width: 100%;
	}

	.product-gallery div .product-image:only-child {
		width: 100%;
		padding-right: var(--space-25);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}




.note-scroll {
	position: absolute;
	top: 0;
	left: var(--container-margin);
	letter-spacing: calc(var(--space-100) * 0.2);
	text-shadow: 0 0 12px rgba(var(---black), 0.75);
	transform: translateY(calc( ( var(--space-100) * 2 ) * -1 ) );
}
.note-scroll:after {
	content: '';
	display: block;
	width: calc(var(--space-100) * 2);
	height: calc(var(--space-min)/2);
	background-color: var(--white);
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(112.5%);
	box-shadow: 0 0 12px 0 rgba(var(---black), 0.75)
}

@media( min-width: 640px )  {
	.note-scroll {
		transform: translateY(0);
		top: auto;
		left: auto;
		right: calc( 100% + var(--space-100) );
		transform: rotate(-90deg);
		transform-origin: right bottom;
	}
	.note-scroll:after {
		right: auto;
		left: 0;
		transform: translateX(-125%);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}




.product-more {
	position: relative;
}

.more-sidebar {
	font-size: 0;
}
.more-sidebar .sidebar-icon {
	display: inline-block;
	width: 50%;
	padding-bottom: var(--space-50);
}
.more-sidebar .sidebar-icon:nth-child(2n+1) {
	padding-right: var(--space-25);
}
.more-sidebar .sidebar-icon:nth-child(2n+2) {
	padding-left: var(--space-25);
}
.more-sidebar .sidebar-icon img {
	width: 75%;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.more-sidebar {
		float: right;
		padding-left: var(--space-125);
	}
	.more-sidebar .sidebar-icon,
	.more-sidebar .sidebar-icon:nth-child(2n+1),
	.more-sidebar .sidebar-icon:nth-child(2n+2) {
		width: 100%;
		padding: 0;
		padding-bottom: var(--space-50);
	}
	.more-main {
		float: left;
	}
}
@media( min-width: 1480px ) {
	.more-sidebar {
		padding-left: var(--space-175);
	}
}