/*
 * Collection Section
 */

.collection-section {
	position: relative;
}

.collection-section .collection-section-content {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.collection-section .collection-section-content .heading {
	letter-spacing: calc(var(--space-100) * 0.1);
	text-shadow: 0 0 12px rgba(var(---black), 0.4);
}

.collection-section.intro-section .collection-section-content {
	top: 65%;
}

/*.collection-section:not(.intro-section) .bg-video-embed {
	box-shadow: 0 0 0 4px var(--orange);
}*/


/*@supports (animation-timeline: view()) {
	.collection-section:not(.intro-section) .bg-video-embed {
		scale: 0.8;
		opacity: 0;
		animation: scale-in linear forwards;
		animation-timeline: view();
		animation-range: entry;
	}

	@keyframes scale-in {
		to {
			scale: 1;
			opacity: 1;
		}
	}

	.collection-section.intro-section {
		overflow: clip;
	}
	
	.collection-section.intro-section .bg-video-embed {
		scale: 1;
		opacity: 1;
		animation: scale-out linear forwards;
		animation-timeline: view();
		animation-range: exit;
		transform-origin: bottom;
	}

	@keyframes scale-out {
		to {
			scale: 1.5;
			opacity: 0;
		}
	}
}*/

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}