{% layout theme %}

<div class="policy-page-template">
  <div class="container">
    <div class="policy-header">
      <h1>{{ page.title }}PEWPEW</h1>
    </div>

    <div class="policy-content">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Policy Page"
}
{% endschema %}