<style>
.product-essentials {
	position: relative;
}
.product-gallery {
	position: relative;
	z-index: 1;
	white-space: nowrap;
	overflow-y: scroll;
	font-size: 0;
}

.product-info {
	position: relative;
	z-index: 2;
	padding: 0 var(--container-margin);
	padding-top: var(--space-100);
}

@media( min-width: 640px )  {
	.product-gallery {
		white-space: normal;
		overflow-y: initial;
	}

	.product-info {
		padding: 0;
		padding-top: var(--space-100);
		padding-bottom: var(--space-50);
		padding-left: var(--space-50);
		padding-right: var(--container-margin);
		position: sticky;
		top: calc(var(--space-100) * 3);
		left: 0;
	}

}
@media( min-width: 1040px ) {
	.product-info {
		top: calc(var(--space-100) * 2.666);
	}
}
@media( min-width: 1480px ) {
	.product-info {
		top: calc(var(--space-100) * 2.25);
		padding-left: var(--space-75);
	}
}


.product-gallery .product-image {
	width: 80%;
}
.product-gallery div .product-image:only-child {
	width: 100%;
	padding-right: 0;
}
.product-gallery .product-image {
	display: inline-block;
}

@media( min-width: 640px )  {
	.product-gallery .product-image {
		display: block;
		width: 100%;
	}

	.product-gallery div .product-image:only-child {
		width: 100%;
		padding-right: var(--space-25);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}


.product-more {
	position: relative;
}

.more-sidebar {
	font-size: 0;
}
.more-sidebar .sidebar-icon {
	display: inline-block;
	width: 50%;
	padding-bottom: var(--space-50);
}
.more-sidebar .sidebar-icon:nth-child(2n+1) {
	padding-right: var(--space-25);
}
.more-sidebar .sidebar-icon:nth-child(2n+2) {
	padding-left: var(--space-25);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.more-sidebar {
		float: right;
		padding-left: var(--space-125);
	}
	.more-sidebar .sidebar-icon,
	.more-sidebar .sidebar-icon:nth-child(2n+1),
	.more-sidebar .sidebar-icon:nth-child(2n+2) {
		width: 100%;
		padding: 0;
		padding-bottom: var(--space-50);
	}
	.more-main {
		float: left;
	}
}
@media( min-width: 1480px ) {
	.more-sidebar {
		padding-left: var(--space-175);
	}
}

</style>

<!-- Product Essentials -->
<div class="product-essentials row">
	<div class="product-gallery columns small-12 medium-6 large-8">
		{% section 'product-images' %}
	</div>
	<div class="product-info columns small-12 medium-6 large-4">
		{% section 'product-details' %}
	</div>
</div>
<!-- END: Product Essentials -->
<!-- Product More -->
<div id="more" class="product-more row">
	<div class="stitch-pattern space-200 opacity-50 hide-small hide-large hide-xlarge " style="background-image: url('{{ 'stitch-pattern-orange.png' | asset_url }}'); background-size: auto 33%; background-repeat: repeat-x; background-position: center center;"></div>
	<div class="stitch-pattern space-150 opacity-50 hide-small hide-medium " style="background-image: url('{{ 'stitch-pattern-orange.png' | asset_url }}'); background-size: auto 33%; background-repeat: repeat-x; background-position: center center;"></div>
	<div class="container">
		<div class="row">
			<div class="more-sidebar columns small-12 large-4 space-50-top-bottom clearfix">
				<div class="sidebar-icon">
					<img class="block" src="https://placehold.co/400x150" alt="">
				</div>
				<div class="sidebar-icon">
					<img class="block" src="https://placehold.co/400x150" alt="">
				</div>
				<div class="sidebar-icon">
					<img class="block" src="https://placehold.co/400x150" alt="">
				</div>
				<div class="sidebar-icon">
					<img class="block" src="https://placehold.co/400x150" alt="">
				</div>
			</div>
			<div class="more-main columns small-12 large-8">
				{% if product.description %}
				<div class="product-description space-50-top-bottom">
					<div class="small strong text-uppercase text-neutral-4 space-25-bottom">Material & Description</div>
					<div class="label">{{ product.description }}</div>
				</div>
				{% endif %}
				<div class="product-description space-50-top-bottom">
					<div class="small strong text-uppercase text-neutral-4 space-25-bottom">Measurements & Customisation</div>
					<div class="video">
						<img class="block" src="https://placehold.co/1920x1080" alt="">
					</div>
				</div>
				<div class="product-description space-50-top-bottom">
					<div class="small strong text-uppercase text-neutral-4 space-25-bottom">Shipping & Returns</div>
					<div class="label">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis natus esse suscipit non quidem excepturi rem magni dolores aspernatur recusandae doloribus consequuntur quod, omnis doloremque repellendus iusto ab a reprehenderit.
					</div>
				</div>
				<!-- <div class="row">
					<div class="p strong text-uppercase space-150-top position-relative space-50-left"><span class="inline h1 w-800 text-red position-absolute line-height-one opacity-50" style="z-index: -1; bottom: var(--space-min); left: 0;">Step 1</span> Place your Order</div>
					<div class="p strong text-uppercase space-150-top position-relative space-50-left"><span class="inline h1 w-800 text-red position-absolute line-height-one opacity-50" style="z-index: -1; bottom: var(--space-min); left: 0;">Step 2</span> Taking Measurements</div>
					<div class="p strong text-uppercase space-150-top position-relative space-50-left"><span class="inline h1 w-800 text-red position-absolute line-height-one opacity-50" style="z-index: -1; bottom: var(--space-min); left: 0;">Step 3</span> Customization</div>
				</div> -->
			</div> 
		</div>
	</div>
</div>
<!-- END: Product More -->
<!-- Style With Products -->
{% if product.collections.size > 0 %}
{% assign first_collection = product.collections.first %}
<div class="related-product row">
	<div class="product-carousel">
		<div class="h5 strong text-uppercase text-center space-50-bottom">Style With</div>
		<!-- Carousel -->
		<div class="carousel fade">
			<div class="carousel-list fill-white">
				{% for related_product in first_collection.products | limit : 6 %}
					{% unless related_product.handle == product.handle %}
					<div class="carousel-list-item">
						{% render 'product-card', product: related_product %}
					</div>
					{% endunless %}
				{% endfor %}
			</div>
			<div class="carousel-controls row">
				<div class="container">
					<div class="columns small-12 text-center">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-left-arrow-alt text-red h3' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-right-arrow-alt text-red h3' ></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- END: Style With Products -->
<!-- Related Products -->
{% if product.collections.size > 0 %}
{% assign first_collection = product.collections.first %}
<div class="related-product row">
	<div class="product-carousel">
		<div class="h5 strong text-uppercase text-center space-50-bottom">Related Products</div>
		<!-- Carousel -->
		<div class="carousel fade">
			<div class="carousel-list fill-white">
				{% for related_product in first_collection.products | limit : 6 %}
					{% unless related_product.handle == product.handle %}
					<div class="carousel-list-item">
						{% render 'product-card', product: related_product %}
					</div>
					{% endunless %}
				{% endfor %}
			</div>
			<div class="carousel-controls row">
				<div class="container">
					<div class="columns small-12 text-center">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-left-arrow-alt text-red h3' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-right-arrow-alt text-red h3' ></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- END: Related Products -->